.root {
    -background: #f0f0f0;

    -primary: #034f84;
    -primary-disabled: #92a8d1;
    -secondary: #f7786b;
    -secondary-armed: #f7cac9;
    -tertiary: #fcc200;
    -tertiary-armed: #FEEBAA;
}

.shadow-pane {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}

.label {
    -fx-text-fill: #686868ff;
}

.title-text {
    -fx-text-fill: #375FCB;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.button {
    -fill: -primary;
    -fx-background-color: -fill;
    -fx-text-fill: white;
}

.button:hover {
    -fill: -secondary;
    -fx-text-fill: white;
}

.button:armed {
    -fill: -secondary-armed;
}

.background-pane {
    -fx-background-color: -bg-gradient;
    -fx-padding: 10px 15px;
    -fx-background-radius: 10px;
}

.shadow-pane {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}

.content-pane {
    -fx-background-color: #ffffff22;
    -fx-background-radius: 10px;
    -fx-spacing: 35px;
    -fx-padding: 25px;
    -fx-alignment: center;
}


/* TABLES */

.table-view,
.table-view .column-header,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff;
}

.table-view .column-header-background {
    -fx-background-color: -primary;
    -fx-background-radius: 7px 7px 0px 0px;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-alignment: center;
}

.table-view .table-cell .label {
    -fx-text-alignment: center;
}

.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: -tertiary;
}

.table-row-cell:odd {
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even {
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:highlighted {
    -fx-background-color: -primary;
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;
}

.table-row-cell:selected {
    -fx-background-color: -tertiary;
    -fx-text-background-color: white;
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb {
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: linear-gradient(to right, #1dbbdd44, #93f9b944);
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}